[submodule "py"]
	path = py
	url = git@github.com:tobz1000/mines-py.git
[submodule "cs"]
	path = cs
	url = git@github.com:tobz1000/mines-cs.git
[submodule "js"]
	path = js
	url = git@github.com:tobz1000/mines-js.git
[submodule "rs"]
	path = rs
	url = git@github.com:tobz1000/mines-rs.git
