* {
	font-family: sans-serif;
}

#gameInfo {
	display: none;
}

#gameArea {
	display: flex;
}

.cell {
	width: 20px;
	height: 20px;
	text-align: center;
	cursor: default;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.cellUnknown {
	background-color: #bbbbbb;
}

.cellFlagged {
	background-color: #9999ff;
}

.cellMine {
	background-color: #ff5555;
}

.cellHover {
	background-color: #dddddd;
}

pre {
	font-family: monospace;
	white-space: pre-wrap;
}