* {
	font-family: sans-serif;
}

#errMsg {
	display: none;
}

.table {
	table-layout: fixed;
	width: 100%;
}

.cell {
	width: 20px;
	height: 20px;
	font-family: sans-serif;
	text-align: center;
}

.cellUnknown {
	background-color: #dddddd;
}

.cellFlagged {
	background-color: #ddddff;
}

.cellMine {
	background-color: #ffdddd;
}

pre {
	font-family: monospace;
	white-space: pre-wrap;
}